<!-- src/views/index.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
</head>
<body>
    <h1>Listado de Productos MAIN</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Código</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.stock}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <body>
    {{!-- <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="realTimeProductsList"></ul>

    <!-- Formulario para creación y eliminación de productos -->
    <form id="productForm">
        <label for="productName">Nombre del Producto:</label>
        <input type="text" id="productName" name="productName" required>

        <button type="submit">Agregar Producto</button>
        <button type="button" onclick="deleteProduct()">Eliminar Producto</button>
    </form> --}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    {{!-- <script src="/src/public/js/index.js"></script> --}}


</body>
</html>
